.pane {
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.paneCheckBox {
    -fx-padding: 5;
    -fx-spacing: 5;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.textFeldlang {
    -fx-min-width: 500;
}

.textFeld {
    -fx-max-width: 100;
}

.labels {

}

.textArea {
    -fx-font-family: Monospaced;
    -fx-display-caret:false;
}